.header {
  width: 100%;
  background-color: #f28582;
  color: #f7ede3;
  padding: 15px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
}
  
.headerTitle {
  font-size: 30px; 
  font-weight: bold; 
}

.headerSearchBar {
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
  
.headerNavbar {
  display: flex;
  align-items: center; 
}
  