.searchbar {
    background-color: #db7874; 
    padding: 10px 20px; 
    display: flex; 
    align-items: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 100px;
}

.searchInput {
    
}